openai<= 0.28.0
pinecone-client<=2.2.2
beautifulsoup4==4.12.2
PyPDF2==3.0.1
PyAudio==0.2.13
Pydub==0.25.1
pytesseract==0.3.10
customtkinter==5.2.0
EbookLib==0.18
sentence-transformers==2.2.2
qdrant-client==1.4.0
setuptools-rust==1.7.0
keyboard==0.13.5
scipy==1.11.2
gTTS==2.3.2
openai-whisper<=20230314
TTS==0.17.0
pandas<=2.1.0