openai
pinecone-client
beautifulsoup4==4.12.2
PyPDF2==3.0.1
PyAudio
Pydub
pytesseract==0.3.10
customtkinter
EbookLib==0.18
sentence-transformers
qdrant-client
openai-whisper
setuptools-rust
sounddevice
keyboard
scipy
gTTS
elevenlabs
pandas